@font-face {
    font-family: 'Cera Pro';
    src: local('Cera Pro Regular'), local('CeraPro-Regular'),
    url('../fonts/CeraPro-Regular.woff') format('woff'),
    url('../fonts/CeraPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: local('Cera Pro Medium'), local('CeraPro-Medium'),
    url('../fonts/CeraPro-Medium.woff') format('woff'),
    url('../fonts/CeraPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: local('Cera Pro Bold'), local('CeraPro-Bold'),
    url('../fonts/CeraPro-Bold.woff') format('woff'),
    url('../fonts/CeraPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: local('Cera Pro Black'), local('CeraPro-Black'),
    url('../fonts/CeraPro-Black.woff') format('woff'),
    url('../fonts/CeraPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
