@import "./fonts.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}
body {
    font-family: "Cera Pro", sans-serif;
    background-color: #FFFFFF;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

}

.header {
    background-color: #ffffff;
    margin-top: 30px;
    padding-bottom: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

.logo svg {
    display: block;
}

.nav {
    display: inline-block;
    vertical-align: middle;
    margin-left: 280px;
    font-size: 16px;
}

.nav ul {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav li {
    display: inline-block;
    margin: 0 15px;
}

.nav a {
    text-decoration: none;
    color: #3D3D3D;
    padding-bottom: 6px;
}

.nav a.active {
    border-bottom: 3px solid #46A358;
}


.hero {
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
    display: flex;
    justify-content: space-between;
    align-items: center;

    .text-block {
        max-width: 680px;
        display: inline-block;
        padding: 60px 43px;
    }

    h3 {
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #3D3D3D;
        margin-bottom: 7px;
    }

    h1 {
        color: #3D3D3D;
        font-size: 70px;
        font-weight: 900;
        line-height: 70px;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

    span {
        color: #46A358;
    }

    p {
        color: #727272;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 44px;
    }
}

.btn {
    color: #FFFFFF;
    background-color: #46A358;
    border-radius: 6px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    padding: 8px 16px 7px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 360px;
}

.btn-hero {
    padding: 11px 24px 9px;
    width: 140px;
    color: #FFFFFF;
    background-color: #46A358;
    border-radius: 6px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}

.hero-image {
    vertical-align: top;
    display: flex;
    justify-content: center;
    position: relative;

    .big-img {
        height: 450px;
    }

    .small-img {
        position: absolute;
        bottom: 17px;
        left: 0;
        height: 135px;
    }
}

.catalog {
    padding: 40px 0;
}
.catalog .container {
    display: flex;
    gap: 50px;
}
.sidebar {
    width: 300px;
    background-color: #FBFBFB;
    display: flex;
    flex-direction: column;
    gap: 30px;


    h3{
        color: #3D3D3D;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
    }
}

.sidebar-title {
    margin: 0 0 15px;
    padding: 20px;
}

.category-list {
    list-style: none;
    padding: 20px;
    margin: 0;
    height: 590px;
    width: 310px;
}

.category-list li {
    margin-bottom: 10px;
    cursor: pointer;
    color: #3D3D3D;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.category-list li.active {
    color: #46A358;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}
.sale-banner {
    margin: 40px -28px 0;
}

.sale-banner img {
    width: 100%;
    display: block;

}

.products {
    width: 840px;
    height: 1190px;
}

.products-top {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
}

.tabs li {
    margin-right: 25px;
    cursor: pointer;
}

.tabs li.active {
    color: #46A358;
    border-bottom: 2px solid #46A358;
    padding-bottom: 5px;
}

.sort {
    display: flex;
    gap: 5px;
}

.product {
    width: 30%;
    margin-right: 40px;
    margin-bottom: 40px;
    text-align: center;
    padding-right: 40px;
}

.products-cards{
    display: flex;
    flex-wrap: wrap;

}
.product:nth-child(3n) {
    margin-right: 0;
}
.product img {
    width: 258px;
    height: 300px;
    gap: 10px;
    
}

.product-name{
    color: #3D3D3D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    text-align: left;
}
.product-price {
    display: flex;
    color: #46A358;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 2px;
}

.page {
    float: left;
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin-left: 10px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #E5E5E5;
    color: #333;
}

.page.active {
    background-color: #46A358;
    color: #fff;
    border-color: #46A358;
}

.promo-blog {
    padding: 146px 0;
}

.promo {
    display: flex;
    gap: 28px;
    margin-bottom: 138px;
}

.promo-item {
    background: #FBFBFB;;
    padding: 35px;
    display: flex;
    align-items: center;
    gap: 15px;

    .promo-text h3{
        color: #3D3D3D;
        text-align: right;
        font-size: 18px;
        font-style: normal;
        font-weight: 900;
        line-height: 24px; /* 133.333% */
        text-transform: uppercase;
    }
    .promo-text p {
        color: #727272;
        text-align: right;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px; /* 171.429% */
    }
}

.promo-item img {
   width: 100%;

}

.promo-btn {
    margin-top: 20px;
    padding: 10px 25px;
    background: #46a358;
    color: #fff;
    border: none;
    border-radius: 6px;
}

.blog {
    text-align: center;
    width: 1202px;
    height: 447px;
    padding-right: 1px;
    flex-shrink: 0;
}

.blog-title {
    margin-bottom: 10px;
    color: #3D3D3D;
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 53.333% */
}

.blog-subtitle {
    margin-bottom: 40px;
    color: #727272;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
}

.blog-list {
    display: flex;
    gap: 30px;
}

.blog-card {
    background: #fbfbfb;
    text-align: left;
    padding: 15px;
    flex: 1;

    h4{
        color: #3D3D3D;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px; /* 130% */
    }

    p{
        color: #727272;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */
    }

    .active{
        color: #46A358;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px; /* 114.286% */
    }
}

.blog-card img {
    width: 100%;
    margin-bottom: 15px;
}

.blog-card span {
    color: #46a358;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
}

.blog-card a {
    color: #3D3D3D;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 114.286% */
}
