@import "./fonts.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}
body {
    font-family: "Cera Pro", sans-serif;
    background-color: #FFFFFF;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

}

.header {
    background-color: #ffffff;
    margin-top: 30px;
    padding-bottom: 20px;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

.logo {
    display: inline-block;
    vertical-align: middle;
}

.logo svg {
    display: block;
}

.nav {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
}

.nav ul {
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav li {
    display: inline-block;
    margin: 0 15px;
}

.nav a {
    text-decoration: none;
    color: #3D3D3D;
    padding-bottom: 6px;
}

.nav a.active {
    border-bottom: 3px solid #46A358;
}


.hero {
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .text-block {
        max-width: 680px;
        display: inline-block;
        padding: 60px 43px;
    }

.hero h3 {
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #3D3D3D;
        margin-bottom: 7px;
    }

.hero h1 {
        color: #3D3D3D;
        font-size: 70px;
        font-weight: 900;
        line-height: 70px;
        text-transform: uppercase;
        margin-bottom: 5px;
    }

.hero span {
        color: #46A358;
    }

.hero p {
        color: #727272;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 44px;
    }

.btn {
    color: #FFFFFF;
    background-color: #46A358;
    border-radius: 6px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    padding: 8px 16px 7px;
    display: flex;
    gap: 4px;
}
.btn img{
        display: flex;
        width: 20px;
        height: 20px;
    }

.btn-hero {
    padding: 11px 24px 9px;
    width: 140px;
    color: #FFFFFF;
    background-color: #46A358;
    border-radius: 6px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}

.hero-image {
    vertical-align: top;
    display: flex;
    justify-content: center;
    position: relative;
}
.hero-image .big-img {
        height: 450px;
    }

.hero-image .small-img {
        position: absolute;
        bottom: 17px;
        left: 0;
        height: 135px;
    }

.catalog {
    padding: 40px 0;
}
.catalog .container {
    display: flex;
    gap: 50px;
}
.sidebar {

    width: 310px;
    height: 1244px;
    background-color: #FBFBFB;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sidebar h3{
        color: #3D3D3D;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 16px;
    }

.sidebar-title {
    color: #3D3D3D;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 88.889% */
    margin-left: 18px;
    margin-top: 14px;
    display: flex;
}

.category-list {
    list-style: none;
    height: 590px;
    width: 310px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 30px;

}

.category-list li {
    cursor: pointer;
    color: #3D3D3D;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.category-list li.active {
    color: #46A358;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
}
.sale-banner {
    margin: 40px -28px 0;
}

.sale-banner img {
    width: 100%;
    display: flex;

}

.products-top {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
}

.tabs {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.tabs li {
    margin: 0 15px;
    cursor: pointer;
    color: #3D3D3D;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 106.667% */
}

.tabs li.active {
    color: #46A358;
    border-bottom: 2px solid #46A358;
    padding-bottom: 5px;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px; /* 106.667% */
}

.sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    color: #3D3D3D;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 106.667% */
}
 .sort img{
        display: flex;
    }

.products-cards{
    display: flex;
    flex-wrap: wrap;
    width: 840px;
    height: 1190px;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.product {
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding-left: 14px;
    }

.product:hover .small-buttons {
    display: flex;
    transition: 20s ease-in-out;
}

.product img {
    position: relative;
    width: 100%;
    object-fit: cover;
    }

.product .small-buttons {
    position: absolute;
    bottom: 55px;
    left: 100px;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.small-buttons button {
    height: 20px;
    width: 20px;
    border: none;
    background-color: #FBFBFB;
    border-radius: 4px;
}

.product-sale {
        position: absolute;
        width: 80px;
        height: 29px;
        top: 15px;
        background: #46A358;
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px; /* 100% */
        text-align: center;
        padding: 7px 8px;
        margin: 14px 0;
    }

.product-name {
    display: flex;
    justify-content: left;
    align-items: center;
    color: #3D3D3D;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 100% */
    text-align: left;
    padding-top: 31px;
}

.product-price {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 8px;
    color: #46A358;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
}

    .product-price-sale {
        display: flex;
        text-decoration: line-through;
        color: #A5A5A5;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 16px; /* 88.889% */
    }

.pagination {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 90px;

    }

.pagination .page {
        width: 35px;
        height: 35px;
        line-height: 35px;
        margin-left: 10px;
        text-align: center;
        text-decoration: none;
        border: 1px solid #E5E5E5;
        color: #3D3D3D;
        font-size: 18px;
        font-style: normal;
        font-weight: 300;
        border-radius: 4px;
    }

.pagination .page.active {
        width: 35px;
        height: 35px;
        color: #fff;
        border-color: #46A358;
        border-radius: 4px;
        background: #46A358;
        font-weight: 700;
        font-style: normal;
        font-size: 18px;
}

.pagination .page-arrow {
        display: flex;
        width: 35px;
        height: 35px;
        border-radius: 4px;
        border: 1px solid #E5E5E5;
        color: #3D3D3D;
}
.pagination .page-arrow  img {
     width: 18px;
     height: 18px;
     display: flex;
     margin: 8px 8px;
}


.promo-blog .container{
        padding: 146px 0;
    }

.promo {
    display: flex;
    gap: 28px;
    margin-bottom: 138px;
}

.promo-item {
    background: #FBFBFB;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
}
.promo-text h3 {
    color: #3D3D3D;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 24px; /* 133.333% */
    text-transform: uppercase;
    padding-right: 35px;
    padding-bottom: 9px;
}

.promo-text p {
    color: #727272;
    text-align: right;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    padding-right: 35px;
    padding-bottom: 10px;
}

.promo-item img {
    margin: 0;
    padding: 0;
    width: 287px;
    height: 292px;
    background: lightgray 50% / cover no-repeat;
    mix-blend-mode: multiply;
}

        .promo-btn {
            margin-top: 25px;
            width: 140px;
            height: 40px;
            margin-right: 35px;
            background: #46a358;
            color: #fff;
            border: none;
            border-radius: 6px;
            float: right;
        }

        .blog {
            text-align: center;
            width: 1202px;
            height: 447px;
            padding-right: 1px;
            flex-shrink: 0;
        }

        .blog-title {
            margin-bottom: 10px;
            color: #3D3D3D;
            text-align: center;
            font-size: 30px;
            font-style: normal;
            font-weight: 700;
            line-height: 16px; /* 53.333% */
        }

        .blog-subtitle {
            margin-bottom: 40px;
            color: #727272;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px; /* 171.429% */
        }

        .blog-list {
            display: flex;
            gap: 44px;
            justify-content: space-between;
        }

        .blog-card {
            background: #FBFBFB;
            margin: 0;
            text-align: left;
            padding-bottom: 13px;
            width: 268px;
        }

        .blog-card h4 {
            color: #3D3D3D;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 26px; /* 130% */
            padding-bottom: 4px;
            padding-left: 15px;
            padding-right: 31px;
        }

        .blog-card p {
            color: #727272;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 22px; /* 157.143% */
            padding-bottom: 9px;
            padding-left: 15px;
            padding-right: 31px;
        }

        .blog-card .active {
            color: #46A358;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px; /* 114.286% */
        }

        .blog-card img {
            margin: 0;
            width: 100%;
            padding-bottom: 8px;
        }

        .blog-card span {
            color: #46a358;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px; /* 114.286% */
            padding-bottom: 4px;
            padding-left: 15px;
            padding-right: 31px;
        }

        .blog-card a {
            color: #3D3D3D;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 16px; /* 114.286% */
            text-decoration: none;
            padding-left: 15px;
            padding-right: 31px;
        }
