*{
    box-sizing: border-box;
    text-align: center;
    padding: 0;
    margin: 0;

}
body {
    background-color: lightgray;
}

main {
    padding-block: 40px;
    max-width: 500px;
    margin: 200px auto;
    background-color: #FFF;
    border-bottom: 10px solid #46A358;
}
input {
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    width: 300px;
    height: 40px;
    padding: 14px 12px;
    font-size: 16px;
    margin-bottom: 5px;
}

button {
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    font-size: 16px;
    background-color: #FFF;
    margin: 15px auto;


}

button:hover {
    background-color: rgba(234, 234, 234, 0.8);
}
.register_btn {
    color: #FFF;
    background-color: #46A358;
    margin: 30px auto;
}
.register_btn:hover {
    background-color: rgba(32, 92, 44, 0.9);
}
a {
    text-decoration: none;
    font-size: 20px;

}
.login_register {
    margin: 40px 60px;

}
.container {
    margin-inline: 98px;
}
.divider {
    text-align: center;
    margin: 27px auto;
}
.text {
    margin-bottom: 14px;

}
.login_form {
    margin: 16px auto;
}